openapi: 3.0.3
info:
  title: MultiStockBack-MercadoLibre
  description: |
    This document provides a detailed reference for the MercadoLibre API, listing all available endpoints, their respective HTTP methods, expected request parameters, and response formats. This guide is intended to assist front-end developers in integrating MercadoLibre services efficiently.

    ## Step-by-Step Guide for Using the API Endpoints and Tokens

    This section explains how to authenticate and use the available API endpoints with tokens to access protected resources.

    ### 1. Authentication (Login)
    To access the protected routes, you first need to authenticate the user and obtain a token. This can be done using the `/login` endpoint by sending the user's email and password.

    **Request to /login:**
    - Method: `POST`
    - URL: `/login`
    - Body:
      ```json
      {
        "email": "user@example.com",
        "password": "yourpassword"
      }
      ```

    **Example Response (200):**
    ```json
    {
      "token": "your_generated_token"
    }
    ```

    The response will contain a `token` that will be used for authentication in subsequent requests.

    ### 2. Using the Token for Protected Routes
    After receiving the token from the `/login` endpoint, you must include it in the `Authorization` header when making requests to protected routes.

    **Example request to /users/{id}** (retrieving user information):
    - Method: `GET`
    - URL: `/users/{id}`
    - Headers:
      ```json
      {
        "Authorization": "Bearer your_generated_token"
      }
      ```

    ### 3. Testing the Endpoints
    After authenticating and obtaining the token, you can use it to make requests to the protected endpoints. Be sure to replace `your_generated_token` with the actual token from the `/login` response.

    ### 4. Troubleshooting
    - If the token is invalid or expired, you will receive a `401 Unauthorized` error.
    - If the user does not exist, you will receive a `404 Not Found` error for the `/users/{id}` endpoint.

  version: 1.0.0
servers:
  - url: https://linen-anteater-319357.hostingersite.com/api

paths:
  /mercadolibre/invoices/{client_id}:
    get:
      tags:
        - Reports
      summary: Get invoice report
      description: Retrieves an invoice report for a specific client.
      security:
        - BearerAuth: []
      parameters:
        - name: client_id
          in: path
          required: true
          description: ID of the client
          schema:
            type: string
      responses:
        '200':
          description: Reporte de facturas obtenido con éxito.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Reporte de facturas obtenido con éxito.
                  data:
                    type: object
                    properties:
                      offset:
                        type: integer
                        example: 1
                      limit:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 0
                      last_id:
                        type: integer
                        example: 0
                      results:
                        type: array
                        items:
                          type: object
                      errors:
                        type: array
                        items:
                          type: object
        '401':
          description: Unauthorized, invalid or missing token
        '404':
          description: Client not found


  /mercadolibre/sales-by-month/{client_id}:
    get:
      tags:
        - Reports
      summary: Get sales by month
      description: Retrieves sales data for a specific month and client.
      security:
        - BearerAuth: []
      parameters:
        - name: client_id
          in: path
          required: true
          description: ID of the client
          schema:
            type: string
        - name: month
          in: query
          required: false
          description: The month for which to retrieve sales data (e.g., `09` for September)
          schema:
            type: string
        - name: year
          in: query
          required: false
          description: The year for which to retrieve sales data (e.g., `2024`)
          schema:
            type: string
      responses:
        '200':
          description: Ventas por mes obtenidas con éxito.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Ventas por mes obtenidas con éxito.
                  data:
                    type: object
                    properties:
                      "2025-01":
                        type: object
                        properties:
                          total_amount:
                            type: integer
                            example: 30000
                          orders:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  example: 1234567890
                                date_created:
                                  type: string
                                  example: "2025-01-02T15:23:40.000-04:00"
                                total_amount:
                                  type: integer
                                  example: 15000
                                status:
                                  type: string
                                  example: paid
                                sold_products:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      order_id:
                                        type: integer
                                        example: 1234567890
                                      order_date:
                                        type: string
                                        example: "2025-01-02T15:23:40.000-04:00"
                                      title:
                                        type: string
                                        example: Producto A
                                      quantity:
                                        type: integer
                                        example: 1
                                      price:
                                        type: integer
                                        example: 15000

  /mercadolibre/annual-sales/{client_id}:
    get:
      tags:
        - Reports
      summary: Get annual sales
      description: Retrieves annual sales data for a specific client.
      security:
        - BearerAuth: []
      parameters:
        - name: client_id
          in: path
          required: true
          description: ID of the client
          schema:
            type: string
        - name: year
          in: query
          required: false
          description: The year for which to retrieve sales data (e.g., `2025`)
          schema:
            type: string
      responses:
        '200':
          description: Ventas anuales obtenidas con éxito.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Ventas anuales obtenidas con éxito.
                  data:
                    type: object
                    properties:
                      "2025-01":
                        type: object
                        properties:
                          total_amount:
                            type: integer
                            example: 10780
                          orders:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  example: 1234567890
                                date_created:
                                  type: string
                                  example: "2025-01-02T15:23:40.000-04:00"
                                total_amount:
                                  type: integer
                                  example: 10780
                                status:
                                  type: string
                                  example: paid
                                sold_products:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      order_id:
                                        type: integer
                                        example: 1234567890
                                      order_date:
                                        type: string
                                        example: "2025-01-02T15:23:40.000-04:00"
                                      title:
                                        type: string
                                        example: Producto Ejemplo
                                      quantity:
                                        type: integer
                                        example: 2
                                      price:
                                        type: integer
                                        example: 5390

  /mercadolibre/weeks-of-month:
    get:
      tags:
        - Reports
      summary: Get weeks of the month
      description: Retrieves the weeks of a specific month.
      security:
        - BearerAuth: []  
      parameters:
        - name: year
          in: query
          required: false
          description: The year for which to retrieve weeks (e.g., `2025`)
          schema:
            type: string
        - name: month
          in: query
          required: false
          description: The month for which to retrieve weeks (e.g., `01`)
          schema:
            type: string
      responses:
        '200':
          description: Semanas obtenidas con éxito.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Semanas obtenidas con éxito.
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        start_date:
                          type: string
                          example: "2025-01-01"
                        end_date:
                          type: string
                          example: "2025-01-05"

  /mercadolibre/sales-by-week/{client_id}:
    get:
      tags:
        - Reports
      summary: Get sales by week
      description: Retrieves sales data for a specific week and client.
      security:
        - BearerAuth: []  
      parameters:
        - name: client_id
          in: path
          required: true
          description: ID of the client
          schema:
            type: string
        - name: year
          in: query
          required: false
          description: The year for which to retrieve sales data (e.g., `2025`)
          schema:
            type: string
        - name: month
          in: query
          required: false
          description: The month for which to retrieve sales data (e.g., `01`)
          schema:
            type: string
        - name: week_start_date
          in: query
          required: true
          description: The start date of the week (e.g., `2025-01-01`)
          schema:
            type: string
        - name: week_end_date
          in: query
          required: true
          description: The end date of the week (e.g., `2025-01-07`)
          schema:
            type: string
      responses:
        '200':
          description: Ingresos y productos obtenidos con éxito.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Ingresos y productos obtenidos con éxito.
                  data:
                    type: object
                    properties:
                      week_start_date:
                        type: string
                        example: "2025-01-01"
                      week_end_date:
                        type: string
                        example: "2025-01-07"
                      total_sales:
                        type: integer
                        example: 50000
                      sold_products:
                        type: array
                        items:
                          type: object
                          properties:
                            title:
                              type: string
                              example: Producto Imaginario A
                            quantity:
                              type: integer
                              example: 3
                            total_amount:
                              type: integer
                              example: 15000

  /mercadolibre/daily-sales/{client_id}:
    get:
      tags:
        - Reports
      summary: Get daily sales
      description: Retrieves daily sales data for a specific client.
      security:
        - BearerAuth: []  
      parameters:
        - name: client_id
          in: path
          required: true
          description: ID of the client
          schema:
            type: string
      responses:
        '200':
          description: Ventas diarias obtenidas con éxito.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Ventas diarias obtenidas con éxito.
                  data:
                    type: object
                    properties:
                      date:
                        type: string
                        example: "2025-01-24"
                      total_sales:
                        type: integer
                        example: 0
                      sold_products:
                        type: array
                        items:
                          type: object
                          properties:
                            title:
                              type: string
                              example: Producto Imaginario A
                            quantity:
                              type: integer
                              example: 3
                            total_amount:
                              type: integer
                              example: 15000

  /mercadolibre/top-selling-products/{client_id}:
    get:
      tags:
        - Reports
      summary: Get top-selling products
      description: Devuelve una lista de los productos más vendidos en MercadoLibre para un cliente específico, incluyendo el ID del producto y su variante.
      security:
        - BearerAuth: []  
      parameters:
        - name: client_id
          in: path
          required: true
          schema:
            type: string
          description: Identificador del cliente en MercadoLibre
      responses:
        '200':
          description: Lista de productos más vendidos con variantes y tallas
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Productos más vendidos obtenidos con éxito.
                  total_sales:
                    type: integer
                    example: 185680
                  current_page:
                    type: integer
                    example: 1
                  total_pages:
                    type: integer
                    example: 2
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        product_id:
                          type: string
                          example: "MLA123456"
                        variation_id:
                          type: string
                          nullable: true
                          example: "MLA654321"
                        title:
                          type: string
                          example: Cuadro Mujer Lady Genny C-413 Maxi Cotton Spandex
                        quantity:
                          type: integer
                          example: 4
                        total_amount:
                          type: integer
                          example: 21560
                        size:
                          type: string
                          nullable: true
                          example: L
        '401':
          description: Token inválido o expirado
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: El token ha expirado. Por favor, renueve su token.
        '404':
          description: No se encontraron credenciales válidas
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: No se encontraron credenciales válidas para el client_id proporcionado.
        '500':
          description: Error al conectar con la API de MercadoLibre
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Error al conectar con la API de MercadoLibre.

  /mercadolibre/order-statuses/{client_id}:
    get:
      tags:
        - Reports
      summary: Get order statuses
      description: Retrieves the order statuses for a specific client.
      security:
        - BearerAuth: []  
      parameters:
        - name: client_id
          in: path
          required: true
          description: ID of the client
          schema:
            type: string
        - name: year
          in: query
          required: false
          description: The year for which to retrieve order statuses (e.g., `2025`)
          schema:
            type: string
        - name: month
          in: query
          required: false
          description: The month for which to retrieve order statuses (e.g., `01`)
          schema:
            type: string
      responses:
        '200':
          description: Estados de órdenes y productos relacionados obtenidos con éxito.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Estados de órdenes y productos relacionados obtenidos con éxito.
                  data:
                    type: object
                    properties:
                      statuses:
                        type: object
                        properties:
                          paid:
                            type: integer
                            example: 9
                          pending:
                            type: integer
                            example: 0
                          canceled:
                            type: integer
                            example: 0
                      products:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: MLC1234567890
                            title:
                              type: string
                              example: Producto Ejemplo A
                            category_id:
                              type: string
                              example: MLC1234
                            variation_id:
                              type: integer
                              example: 123456789012
                            seller_custom_field:
                              type: string
                              example: null
                            global_price:
                              type: string
                              example: null
                            net_weight:
                              type: string
                              example: null
                            variation_attributes:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    example: Color
                                  id:
                                    type: string
                                    example: COLOR
                                  value_id:
                                    type: string
                                    example: 12345
                                  value_name:
                                    type: string
                                    example: Rojo
                            warranty:
                              type: string
                              example: Garantía del vendedor - 6 meses
                            condition:
                              type: string
                              example: PAGADO
                            seller_sku:
                              type: string
                              example: A-123-ROJ-M

  /mercadolibre/top-payment-methods/{client_id}:
    get:
      tags:
        - Reports
      summary: Get top payment methods
      description: Retrieves the top payment methods for a specific client.
      security:
        - BearerAuth: []  
      parameters:
        - name: client_id
          in: path
          required: true
          description: ID of the client
          schema:
            type: string
        - name: year
          in: query
          required: false
          description: The year for which to retrieve payment methods data (e.g., `2025`)
          schema:
            type: string
        - name: month
          in: query
          required: false
          description: The month for which to retrieve payment methods data (e.g., `01`)
          schema:
            type: string
      responses:
        '200':
          description: Métodos de pago más utilizados obtenidos con éxito.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Métodos de pago más utilizados obtenidos con éxito.
                  request_date:
                    type: string
                    example: "2025-01-27 19:06:15"
                  data:
                    type: object
                    properties:
                      account_money:
                        type: integer
                        example: 39
                      debit_card:
                        type: integer
                        example: 12
                      credit_card:
                        type: integer
                        example: 2

  /mercadolibre/summary/{client_id}:
    get:
      tags:
        - Reports
      summary: Get store summary
      description: Retrieves a summary of the store for a specific client.
      security:
        - BearerAuth: []  
      parameters:
        - name: client_id
          in: path
          required: true
          description: ID of the client
          schema:
            type: string
      responses:
        '200':
          description: Resumen de la tienda obtenido con éxito.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Resumen de la tienda obtenido con éxito.
                  data:
                    type: object
                    properties:
                      total_sales:
                        type: integer
                        example: 638056
                      top_selling_products:
                        type: array
                        items:
                          type: object
                          properties:
                            title:
                              type: string
                              example: Camiseta Mujer Jockey Shapewear K-435 Seamless Control
                            quantity:
                              type: integer
                              example: 7
                            total_amount:
                              type: integer
                              example: 88361
                      order_statuses:
                        type: object
                        properties:
                          paid:
                            type: integer
                            example: 36
                          pending:
                            type: integer
                            example: 0
                          canceled:
                            type: integer
                            example: 0
                      daily_sales:
                        type: integer
                        example: 0
                      weekly_sales:
                        type: integer
                        example: 0
                      monthly_sales:
                        type: integer
                        example: 90390
                      annual_sales:
                        type: integer
                        example: 90390
                      top_payment_methods:
                        type: object
                        properties:
                          account_money:
                            type: integer
                            example: 39
                          debit_card:
                            type: integer
                            example: 12
                          credit_card:
                            type: integer
                            example: 2

  /mercadolibre/refunds-by-category/{client_id}:
    get:
      tags:
        - Reports
      summary: Get refunds or returns by category
      description: Retrieves refunds or returns data by category for a specific client.
      security:
        - BearerAuth: []  
      parameters:
        - name: client_id
          in: path
          required: true
          description: ID of the client
          schema:
            type: string
        - name: date_from
          in: query
          required: false
          description: The start date for the date range (e.g., `2023-01-01`)
          schema:
            type: string
        - name: date_to
          in: query
          required: false
          description: The end date for the date range (e.g., `2023-01-31`)
          schema:
            type: string
        - name: category
          in: query
          required: false
          description: The category ID to filter by (e.g., `MLC12345`)
          schema:
            type: string
      responses:
        '200':
          description: Refunds by category retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Refunds by category retrieved successfully.
                  data:
                    type: object
                    properties:
                      MLC12345:
                        type: object
                        properties:
                          category_id:
                            type: string
                            example: MLC12345
                          total_refunds:
                            type: integer
                            example: 50000
                          orders:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  example: 1234567890
                                created_date:
                                  type: string
                                  example: "2023-01-02T15:23:40.000-04:00"
                                total_amount:
                                  type: integer
                                  example: 15000
                                status:
                                  type: string
                                  example: cancelled
                                product:
                                  type: object
                                  properties:
                                    title:
                                      type: string
                                      example: Producto A
                                    quantity:
                                      type: integer
                                      example: 1
                                    price:
                                      type: integer
                                      example: 15000
                                buyer:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                      example: 12345
                                    name:
                                      type: string
                                      example: comprador_ejemplo
                                billing:
                                  type: object
                                  properties:
                                    first_name:
                                      type: string
                                      example: Juan
                                    last_name:
                                      type: string
                                      example: Pérez
                                    identification:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                          example: RUT
                                        number:
                                          type: string
                                          example: 12345678
                                shipping:
                                  type: object
                                  properties:
                                    shipping_id:
                                      type: string
                                      example: SHIP12345
                                    shipping_method:
                                      type: string
                                      example: Envío estándar
                                    tracking_number:
                                      type: string
                                      example: ABC123XYZ
                                    shipping_status:
                                      type: string
                                      example: delivered
                                    shipping_address:
                                      type: object
                                      properties:
                                        address:
                                          type: string
                                          example: Calle Falsa
                                        number:
                                          type: string
                                          example: 123
                                        city:
                                          type: string
                                          example: Ciudad Falsa
                                        state:
                                          type: string
                                          example: Falso
                                        country:
                                          type: string
                                          example: Ciudad Falsa
                                        comments:
                                          type: string
                                          example: Dejar en la puerta

  /reviews/{clientId}/{productId}:
    get:
      tags:
        - Reports
      summary: Get reviews for a specific product
      description: Retrieves reviews for a specific product using its ID and client ID.
      parameters:
        - name: clientId
          in: path
          required: true
          description: The ID of the client (for example, a MercadoLibre user ID)
          schema:
            type: string
            example: "5822095179207900"
        - name: productId
          in: path
          required: true
          description: The ID of the product to get reviews for
          schema:
            type: string
            example: "MLC1408783769"
        - name: limit
          in: query
          required: false
          description: The maximum number of reviews to return
          schema:
            type: integer
            example: 10
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Reviews obtained successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
                  message:
                    type: string
                    example: "Reviews obtained successfully."
                  data:
                    type: object
                    properties:
                      paging:
                        type: object
                        properties:
                          total:
                            type: integer
                            example: 5
                          limit:
                            type: integer
                            example: 5
                          offset:
                            type: integer
                            example: 0
                      reviews:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1660648232
                            title:
                              type: string
                              example: "Excellent"
                            content:
                              type: string
                              example: "The product is excellent, just as expected. The shipping was a bit expensive."
                            rate:
                              type: integer
                              example: 5
                            date_created:
                              type: string
                              example: "2024-11-29T18:39:04Z"
        '401':
          description: Unauthorized due to expired token or invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "error"
                  message:
                    type: string
                    example: "El token ha expirado. Por favor, renueve su token."
        '404':
          description: Product not found or no reviews available
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
                  message:
                    type: string
                    example: "Aún no hay opiniones sobre el producto."
                  data:
                    type: object
                    properties: {}
        '500':
          description: Internal server error due to an issue with the MercadoLibre API
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "error"
                  message:
                    type: string
                    example: "No se pudieron obtener las reviews."
                  error:
                    type: object
                    additionalProperties: true


  /login:
    post:
      tags:
        - Login
      summary: User login
      description: Authenticates a user and returns a token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: user@example.com
                password:
                  type: string
                  example: yourpassword
      responses:
        '200':
          description: Successful login
        '401':
          description: Invalid password
        '404':
          description: User not found

  /logout:
    post:
      tags:
        - Login
      summary: User logout
      description: Revokes the user's token and logs them out of the system.
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Successfully logged out
        '401':
          description: Invalid or expired token
        '500':
          description: Internal server error

  /users:
    post:
      tags:
        - Users
      summary: Create a new user
      description: Registers a new user in the system
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nombre:
                  type: string
                  example: Agustín
                apellidos:
                  type: string
                  example: Martínez
                telefono:
                  type: string
                  example: "+56999999999"
                email:
                  type: string
                  example: thisismyemail@email.com
                password:
                  type: string
                  example: password
                password_confirmation:
                  type: string
                  example: passwordConfirmation
      responses:
        '201':
          description: User successfully created
        '422':
          description: Unprocessable Entity (one or more fields missing, etc)
  /users/{id}:
    get:
      tags:
        - Users
      summary: Get a user by ID
      description: Retrieves user data using their ID.
      security:
        - BearerAuth: []  
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the user to retrieve
          schema:
            type: integer
      responses:
        '200':
          description: User retrieved successfully
        '404':
          description: User not found
    patch:
      tags:
        - Users
      summary: Update user data
      description: Updates user information using their ID.
      security:
        - BearerAuth: []  
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the user to update
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nombre:
                  type: string
                  example: Agustín
                apellidos:
                  type: string
                  example: Martínez
                telefono:
                  type: string
                  example: "+56999999999"
                email:
                  type: string
                  example: updatedemail@email.com
      responses:
        '200':
          description: User updated successfully
        '404':
          description: User not found
    
    delete:
      tags:
        - Users
      summary: Delete a user
      description: Deletes a user from the system using their ID.
      security:
        - BearerAuth: []  
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the user to be deleted
          schema:
            type: integer
      responses:
        '200':
          description: User successfully deleted
        '404':
          description: User not found
          
  /MercadoLibre/connections/test-connection/{client_id}:
    get:
      tags:
        - Connection
      summary: Test MercadoLibre Connection
      description: Tests the MercadoLibre API connection for a given client ID.
      parameters:
        - name: client_id
          in: path
          required: true
          description: The ID of the client whose connection is being tested.
          schema:
            type: string
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Connection successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Conexión exitosa con MercadoLibre.
        "404":
          description: Credentials not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: No se encontraron credenciales para el cliente proporcionado.
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Error al probar la conexión con MercadoLibre.
                  error:
                    type: object
                    example: {}

  /mercadolibre/sales-by-date-range/{client_id}:
    get:
      tags:
        - Reports
      summary: Retrieves a daily sales summary for a specific date range
      description: Retrieves a daily sales summary from MercadoLibre for a specific client_id, allowing users to view sales made within a given date range. The response includes the total sales amount and the products sold.
      parameters:
        - name: client_id
          in: path
          required: true
          description: ID of the client for whom the sales summary is being retrieved
          schema:
            type: string
        - name: start_date
          in: query
          required: true
          description: The first date range for comparison (e.g., 2025-01-01).
          schema:
            type: string
            format: date
            example: "2025-01-01"
        - name: end_date
          in: query
          required: true
          description: The last date range for comparison (e.g., 2025-01-31).
          schema:
            type: string
            format: date
            example: "2025-01-31"
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Sales summary retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Ventas obtenidas con éxito.
                  data:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: object
                        properties:
                          order_id:
                            type: string
                            example: "12345"
                          order_date:
                            type: string
                            format: date-time
                            example: "2025-01-01T10:00:00.000-00:00"
                          total_amount:
                            type: number
                            format: float
                            example: 200.50
                          payment_method:
                            type: string
                            example: "credit_card"
                          products:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  example: "987654321"
                                title:
                                  type: string
                                  example: "Producto 1"
                                quantity:
                                  type: integer
                                  example: 2
                                price:
                                  type: number
                                  format: float
                                  example: 100.25
                                category_id:
                                  type: string
                                  example: "MLA12345"
                                category:
                                  type: string
                                  example: "Electronics"
        '400':
          description: Invalid parameters (start_date, end_date)
        '404':
          description: Sales data not found for the given date range

  /mercadolibre/products/{clientId}:
    get:
        tags:
            - Products
        summary: Get products by client_id from MercadoLibre
        description: |
          Obtiene la lista de productos publicados en MercadoLibre para un usuario específico, utilizando su `client_id`.
          También incluye el nombre de la categoría de cada producto.
        parameters:
          - name: clientId
            in: path
            required: true
            description: El `client_id` del usuario en MercadoLibre.
            schema:
              type: string
          - name: limit
            in: query
            required: false
            description: Número máximo de productos a devolver (por defecto, 50).
            schema:
              type: integer
              default: 50
          - name: offset
            in: query
            required: false
            description: Número de productos a omitir antes de empezar a devolver resultados (por defecto, 0).
            schema:
              type: integer
              default: 0
        security:
          - BearerAuth: []
        responses:
          "200":
            description: Lista de productos obtenida con éxito.
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    status:
                      type: string
                      example: success
                    message:
                      type: string
                      example: Productos obtenidos con éxito.
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            example: MLC123456
                          title:
                            type: string
                            example: Bicicleta Montañera
                          price:
                            type: number
                            example: 100000
                          currency_id:
                            type: string
                            example: CLP
                          available_quantity:
                            type: integer
                            example: 5
                          sold_quantity:
                            type: integer
                            example: 2
                          thumbnail:
                            type: string
                            format: uri
                            example: https://example.com/image.jpg
                          permalink:
                            type: string
                            format: uri
                            example: https://mercadolibre.com/item/MLC123456
                          status:
                            type: string
                            example: active
                          category_id:
                            type: string
                            example: MLC440333
                          category_name:
                            type: string
                            example: Bicicletas y Ciclismo
                    pagination:
                      type: object
                      properties:
                        total:
                          type: integer
                          example: 200
                        limit:
                          type: integer
                          example: 50
                        offset:
                          type: integer
                          example: 0
          "401":
            description: Token expirado, se requiere renovación.
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    status:
                      type: string
                      example: error
                    message:
                      type: string
                      example: El token ha expirado. Por favor, renueve su token.
          "404":
            description: No se encontraron credenciales para el `client_id` proporcionado.
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    status:
                      type: string
                      example: error
                    message:
                      type: string
                      example: No se encontraron credenciales válidas para el client_id proporcionado.
          "500":
            description: Error al obtener datos desde MercadoLibre.
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    status:
                      type: string
                      example: error
                    message:
                      type: string
                      example: Error al conectar con la API de MercadoLibre.
                    error:
                      type: object
                      example: { "message": "Internal Server Error", "status": 500 }

  /mercadolibre/client-item-list/{client_id}:
    get:
      tags:
        - Reports
      summary: Get products from MercadoLibre with payment status
      description: Retrieves products for a specific client, with optional filters like payment status.
      security:
        - BearerAuth: []
      parameters:
        - name: client_id
          in: path
          required: true
          description: ID of the client
          schema:
            type: string
            example: 5822095179207900
        - name: limit
          in: query
          required: false
          description: The number of products to retrieve per page (default in swagger is 0)
          schema:
            type: integer
            example: 20
        - name: offset
          in: query
          required: false
          description: The offset to start fetching the products from (default is 0)
          schema:
            type: integer
            example: 0
        - name: payment_status
          in: query
          required: false
          description: |
            The payment status to filter the products by. Valid options are:
            - "active": The product is active and available for sale.
            - "inactive": The product is inactive and not available for sale.
            - "paused": The product is paused and temporarily not available for sale.
            - "sold": The product has been sold.
            - "pending": The payment is pending for the product.
            - "paid": The payment has been completed for the product.
            - "shipped": The product has been shipped.
            - "delivered": The product has been delivered.
            - "returned": The product has been returned.
          schema:
            type: string
            example: "paid"
      responses:
        '200':
          description: Products retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Products retrieved successfully.
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: "ML123456"
                        title:
                          type: string
                          example: "Product Name"
                        price:
                          type: number
                          format: float
                          example: 199.99
                        currency_id:
                          type: string
                          example: "ARS"
                        available_quantity:
                          type: integer
                          example: 10
                        sold_quantity:
                          type: integer
                          example: 5
                        thumbnail:
                          type: string
                          example: "https://example.com/product-thumbnail.jpg"
                        permalink:
                          type: string
                          example: "https://mercadolibre.com/product/ML123456"
                        status:
                          type: string
                          example: "active"
                        category_id:
                          type: string
                          example: "ML1234"
                        category_name:
                          type: string
                          example: "Electronics"
                  pagination:
                    type: object
                    properties:
                      total:
                        type: integer
                        example: 200
                      limit:
                        type: integer
                        example: 50
                      offset:
                        type: integer
                        example: 0
        '400':
          description: Bad request, missing or invalid parameters.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Invalid query parameters.
        '401':
          description: Unauthorized, invalid or missing access token.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Unauthorized, please provide a valid token.
        '500':
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: There was an issue retrieving the products.

  /mercadolibre/stock-reception/{client_id}:
    get:
      tags:
        - Reports
      summary: Get stock reception
      description: Retrieves stock reception data for a specific client.
      security:
        - BearerAuth: []
      parameters:
        - name: client_id
          in: path
          required: true
          description: ID of the client
          schema:
            type: string
            example: "5822095179207900"
        - name: year
          in: query
          required: false
          description: The year for which to retrieve stock reception data (e.g., `2025`)
          schema:
            type: string
        - name: month
          in: query
          required: false
          description: The month for which to retrieve stock reception data (e.g., `01`)
          schema:
            type: string
        - name: page
          in: query
          required: false
          description: The page number to retrieve (default is 1)
          schema:
            type: integer
          example: 1
        - name: per_page
          in: query
          required: false
          description: The number of items per page (default is 10)
          schema:
            type: integer
          example: 10
      responses:
        '200':
          description: Stock reception data retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Recepción de stock obtenida con éxito.
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: "ML123456"
                        title:
                          type: string
                          example: "Product Name"
                        quantity:
                          type: integer
                          example: 10
                        unit_price:
                          type: integer
                          example: 199
                        total_amount:
                          type: integer
                          example: 1999
                        date_created:
                          type: string
                          format: date-time
                          example: "2025-01-01T10:00:00.000-00:00"
                        delivered_by:
                          type: string
                          example: "buyer_nickname"
        '400':
          description: Invalid parameters (year, month)
        '401':
          description: Unauthorized, invalid or expired token
        '404':
          description: No valid credentials found for the provided client_id
        '500':
          description: Internal server error

  /mercadolibre/stock-rotation/{client_id}:
    get:
      tags:
        - Reports
      summary: Get stock rotation
      description: Retrieves stock rotation data for a specific client.
      security:
        - BearerAuth: []
      parameters:
        - name: client_id
          in: path
          required: true
          description: ID of the client
          schema:
            type: string
        - name: year
          in: query
          required: false
          description: The year for which to retrieve stock rotation data (e.g., `2025`)
          schema:
            type: string
        - name: month
          in: query
          required: false
          description: The month for which to retrieve stock rotation data (e.g., `01`)
          schema:
            type: string
        - name: page
          in: query
          required: false
          description: The page number to retrieve (default is 1)
          schema:
            type: integer
          example: 1
        - name: per_page
          in: query
          required: false
          description: The number of items per page (default is 10)
          schema:
            type: integer
          example: 10
      responses:
        '200':
          description: Stock rotation data retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Rotación de stock obtenida con éxito.
                  current_page:
                    type: integer
                    example: 1
                  total_pages:
                    type: integer
                    example: 2
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: "ML123456"
                        variation_id:
                          type: string
                          example: "MLV123456"
                        title:
                          type: string
                          example: "Product Name"
                        quantity:
                          type: integer
                          example: 10
                        size:
                          type: string
                          example: "L"
                  payment_methods:
                    type: object
                    additionalProperties:
                      type: integer
                      example: 5
        '400':
          description: Invalid parameters (year, month)
        '401':
          description: Unauthorized, invalid or expired token
        '404':
          description: No valid credentials found for the provided client_id
        '500':
          description: Internal server error

  /mercadolibre/products-to-dispatch/{client_id}:
    get:
      tags:
        - Reports
      summary: Get products to dispatch
      description: Retrieves products ready to be dispatched for a specific client.
      security:
        - BearerAuth: []
      parameters:
        - name: client_id
          in: path
          required: true
          description: ID of the client
          schema:
            type: string
        - name: year
          in: query
          required: false
          description: The year for which to retrieve products (e.g., `2025`)
          schema:
            type: string
        - name: month
          in: query
          required: false
          description: The month for which to retrieve products (e.g., `01`)
          schema:
            type: string
        - name: page
          in: query
          required: false
          description: The page number to retrieve (default is 1)
          schema:
            type: integer
          example: 1
        - name: per_page
          in: query
          required: false
          description: The number of items per page (default is 10)
          schema:
            type: integer
          example: 10
      responses:
        '200':
          description: Products to dispatch retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Productos listos para despachar obtenidos con éxito.
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: "ML123456"
                        variation_id:
                          type: string
                          example: "MLV123456"
                        title:
                          type: string
                          example: "Product Name"
                        quantity:
                          type: integer
                          example: 10
                        size:
                          type: string
                          example: "L"
                        shipment_history:
                          type: array
                          items:
                            type: object
                            additionalProperties: true
        '400':
          description: Invalid parameters (year, month)
        '401':
          description: Unauthorized, invalid or expired token
        '404':
          description: No valid credentials found for the provided client_id
        '500':
          description: Internal server error

# NO BORRAR ESTE FRAGMENTO DE CODIGO

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT