openapi: 3.0.3
info:
  title: MultiStockBack-MercadoLibre
  description: This document provides a detailed reference for the MercadoLibre API, listing all available endpoints, their respective HTTP methods, expected request parameters, and response formats. This guide is intended to assist front-end developers in integrating MercadoLibre services efficiently.
  version: 1.0.0
servers:
  - url: https://linen-anteater-319357.hostingersite.com/api
paths:
  /mercadolibre/invoices/{client_id}:
    get:
      tags:
        - Reports
      summary: Get invoice report
      description: Retrieves an invoice report for a specific client.
      parameters:
        - name: client_id
          in: path
          required: true
          description: ID of the client
          schema:
            type: string
      responses:
        '200':
          description: Reporte de facturas obtenido con éxito.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Reporte de facturas obtenido con éxito.
                  data:
                    type: object
                    properties:
                      offset:
                        type: integer
                        example: 1
                      limit:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 0
                      last_id:
                        type: integer
                        example: 0
                      results:
                        type: array
                        items:
                          type: object
                      errors:
                        type: array
                        items:
                          type: object
  /mercadolibre/sales-by-month/{client_id}:
    get:
      tags:
        - Reports
      summary: Get sales by month
      description: Retrieves sales data for a specific month and client.
      parameters:
        - name: client_id
          in: path
          required: true
          description: ID of the client
          schema:
            type: string
        - name: month
          in: query
          required: false
          description: The month for which to retrieve sales data (e.g., `09` for September)
          schema:
            type: string
        - name: year
          in: query
          required: false
          description: The year for which to retrieve sales data (e.g., `2024`)
          schema:
            type: string
      responses:
        '200':
          description: Ventas por mes obtenidas con éxito.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Ventas por mes obtenidas con éxito.
                  data:
                    type: object
                    properties:
                      "2025-01":
                        type: object
                        properties:
                          total_amount:
                            type: integer
                            example: 30000
                          orders:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  example: 1234567890
                                date_created:
                                  type: string
                                  example: "2025-01-02T15:23:40.000-04:00"
                                total_amount:
                                  type: integer
                                  example: 15000
                                status:
                                  type: string
                                  example: paid
                                sold_products:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      order_id:
                                        type: integer
                                        example: 1234567890
                                      order_date:
                                        type: string
                                        example: "2025-01-02T15:23:40.000-04:00"
                                      title:
                                        type: string
                                        example: Producto A
                                      quantity:
                                        type: integer
                                        example: 1
                                      price:
                                        type: integer
                                        example: 15000
  /mercadolibre/annual-sales/{client_id}:
    get:
      tags:
        - Reports
      summary: Get annual sales
      description: Retrieves annual sales data for a specific client.
      parameters:
        - name: client_id
          in: path
          required: true
          description: ID of the client
          schema:
            type: string
        - name: year
          in: query
          required: false
          description: The year for which to retrieve sales data (e.g., `2025`)
          schema:
            type: string
      responses:
        '200':
          description: Ventas anuales obtenidas con éxito.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Ventas anuales obtenidas con éxito.
                  data:
                    type: object
                    properties:
                      "2025-01":
                        type: object
                        properties:
                          total_amount:
                            type: integer
                            example: 10780
                          orders:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  example: 1234567890
                                date_created:
                                  type: string
                                  example: "2025-01-02T15:23:40.000-04:00"
                                total_amount:
                                  type: integer
                                  example: 10780
                                status:
                                  type: string
                                  example: paid
                                sold_products:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      order_id:
                                        type: integer
                                        example: 1234567890
                                      order_date:
                                        type: string
                                        example: "2025-01-02T15:23:40.000-04:00"
                                      title:
                                        type: string
                                        example: Producto Ejemplo
                                      quantity:
                                        type: integer
                                        example: 2
                                      price:
                                        type: integer
                                        example: 5390
  /mercadolibre/weeks-of-month:
    get:
      tags:
        - Reports
      summary: Get weeks of the month
      description: Retrieves the weeks of a specific month.
      parameters:
        - name: year
          in: query
          required: false
          description: The year for which to retrieve weeks (e.g., `2025`)
          schema:
            type: string
        - name: month
          in: query
          required: false
          description: The month for which to retrieve weeks (e.g., `01`)
          schema:
            type: string
      responses:
        '200':
          description: Semanas obtenidas con éxito.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Semanas obtenidas con éxito.
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        start_date:
                          type: string
                          example: "2025-01-01"
                        end_date:
                          type: string
                          example: "2025-01-05"
  /mercadolibre/sales-by-week/{client_id}:
    get:
      tags:
        - Reports
      summary: Get sales by week
      description: Retrieves sales data for a specific week and client.
      parameters:
        - name: client_id
          in: path
          required: true
          description: ID of the client
          schema:
            type: string
        - name: year
          in: query
          required: false
          description: The year for which to retrieve sales data (e.g., `2025`)
          schema:
            type: string
        - name: month
          in: query
          required: false
          description: The month for which to retrieve sales data (e.g., `01`)
          schema:
            type: string
        - name: week_start_date
          in: query
          required: true
          description: The start date of the week (e.g., `2025-01-01`)
          schema:
            type: string
        - name: week_end_date
          in: query
          required: true
          description: The end date of the week (e.g., `2025-01-07`)
          schema:
            type: string
      responses:
        '200':
          description: Ingresos y productos obtenidos con éxito.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Ingresos y productos obtenidos con éxito.
                  data:
                    type: object
                    properties:
                      week_start_date:
                        type: string
                        example: "2025-01-01"
                      week_end_date:
                        type: string
                        example: "2025-01-07"
                      total_sales:
                        type: integer
                        example: 50000
                      sold_products:
                        type: array
                        items:
                          type: object
                          properties:
                            title:
                              type: string
                              example: Producto Imaginario A
                            quantity:
                              type: integer
                              example: 3
                            total_amount:
                              type: integer
                              example: 15000
  /mercadolibre/daily-sales/{client_id}:
    get:
      tags:
        - Reports
      summary: Get daily sales
      description: Retrieves daily sales data for a specific client.
      parameters:
        - name: client_id
          in: path
          required: true
          description: ID of the client
          schema:
            type: string
      responses:
        '200':
          description: Ventas diarias obtenidas con éxito.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Ventas diarias obtenidas con éxito.
                  data:
                    type: object
                    properties:
                      date:
                        type: string
                        example: "2025-01-24"
                      total_sales:
                        type: integer
                        example: 0
                      sold_products:
                        type: array
                        items:
                          type: object
                          properties:
                            title:
                              type: string
                              example: Producto Imaginario A
                            quantity:
                              type: integer
                              example: 3
                            total_amount:
                              type: integer
                              example: 15000
  /mercadolibre/top-selling-products/{client_id}:
    get:
      tags:
        - Reports
      summary: Get top selling products
      description: Retrieves the top selling products for a specific client.
      parameters:
        - name: client_id
          in: path
          required: true
          description: ID of the client
          schema:
            type: string
        - name: year
          in: query
          required: false
          description: The year for which to retrieve sales data (e.g., `2025`)
          schema:
            type: string
        - name: month
          in: query
          required: false
          description: The month for which to retrieve sales data (e.g., `01`)
          schema:
            type: string
      responses:
        '200':
          description: Productos más vendidos obtenidos con éxito.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Productos más vendidos obtenidos con éxito.
                  total_sales:
                    type: integer
                    example: 90390
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                          example: Producto Imaginario X
                        quantity:
                          type: integer
                          example: 4
                        total_amount:
                          type: integer
                          example: 21560
  /mercadolibre/order-statuses/{client_id}:
    get:
      tags:
        - Reports
      summary: Get order statuses
      description: Retrieves the order statuses for a specific client.
      parameters:
        - name: client_id
          in: path
          required: true
          description: ID of the client
          schema:
            type: string
        - name: year
          in: query
          required: false
          description: The year for which to retrieve order statuses (e.g., `2025`)
          schema:
            type: string
        - name: month
          in: query
          required: false
          description: The month for which to retrieve order statuses (e.g., `01`)
          schema:
            type: string
      responses:
        '200':
          description: Estados de órdenes y productos relacionados obtenidos con éxito.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Estados de órdenes y productos relacionados obtenidos con éxito.
                  data:
                    type: object
                    properties:
                      statuses:
                        type: object
                        properties:
                          paid:
                            type: integer
                            example: 9
                          pending:
                            type: integer
                            example: 0
                          canceled:
                            type: integer
                            example: 0
                      products:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: MLC1234567890
                            title:
                              type: string
                              example: Producto Ejemplo A
                            category_id:
                              type: string
                              example: MLC1234
                            variation_id:
                              type: integer
                              example: 123456789012
                            seller_custom_field:
                              type: string
                              example: null
                            global_price:
                              type: string
                              example: null
                            net_weight:
                              type: string
                              example: null
                            variation_attributes:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    example: Color
                                  id:
                                    type: string
                                    example: COLOR
                                  value_id:
                                    type: string
                                    example: 12345
                                  value_name:
                                    type: string
                                    example: Rojo
                            warranty:
                              type: string
                              example: Garantía del vendedor - 6 meses
                            condition:
                              type: string
                              example: new
                            seller_sku:
                              type: string
                              example: A-123-ROJ-M
  /mercadolibre/top-payment-methods/{client_id}:
    get:
      tags:
        - Reports
      summary: Get top payment methods
      description: Retrieves the top payment methods for a specific client.
      parameters:
        - name: client_id
          in: path
          required: true
          description: ID of the client
          schema:
            type: string
        - name: year
          in: query
          required: false
          description: The year for which to retrieve payment methods data (e.g., `2025`)
          schema:
            type: string
        - name: month
          in: query
          required: false
          description: The month for which to retrieve payment methods data (e.g., `01`)
          schema:
            type: string
      responses:
        '200':
          description: Métodos de pago más utilizados obtenidos con éxito.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Métodos de pago más utilizados obtenidos con éxito.
                  request_date:
                    type: string
                    example: "2025-01-27 19:06:15"
                  data:
                    type: object
                    properties:
                      account_money:
                        type: integer
                        example: 39
                      debit_card:
                        type: integer
                        example: 12
                      credit_card:
                        type: integer
                        example: 2
