openapi: 3.0.3
info:
  title: MultiStockBack-MercadoLibre
  description: This document provides a detailed reference for the MercadoLibre API, listing all available endpoints, their respective HTTP methods, expected request parameters, and response formats. This guide is intended to assist front-end developers in integrating MercadoLibre services efficiently.
  version: 1.0.0
servers:
  - url: https://linen-anteater-319357.hostingersite.com/api
paths:
  /mercadolibre/invoices/{client_id}:
    get:
      tags:
        - Reports
      summary: Get invoice report
      description: Retrieves an invoice report for a specific client.
      parameters:
        - name: client_id
          in: path
          required: true
          description: ID of the client
          schema:
            type: string
      responses:
        '200':
          description: Reporte de facturas obtenido con éxito.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Reporte de facturas obtenido con éxito.
                  data:
                    type: object
                    properties:
                      offset:
                        type: integer
                        example: 1
                      limit:
                        type: integer
                        example: 2
                      total:
                        type: integer
                        example: 0
                      last_id:
                        type: integer
                        example: 0
                      results:
                        type: array
                        items:
                          type: object
                      errors:
                        type: array
                        items:
                          type: object
  /mercadolibre/sales-by-month/{client_id}:
    get:
      tags:
        - Reports
      summary: Get sales by month
      description: Retrieves sales data for a specific month and client.
      parameters:
        - name: client_id
          in: path
          required: true
          description: ID of the client
          schema:
            type: string
        - name: month
          in: query
          required: false
          description: The month for which to retrieve sales data (e.g., `09` for September)
          schema:
            type: string
        - name: year
          in: query
          required: false
          description: The year for which to retrieve sales data (e.g., `2024`)
          schema:
            type: string
      responses:
        '200':
          description: Ventas por mes obtenidas con éxito.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Ventas por mes obtenidas con éxito.
                  data:
                    type: object
                    properties:
                      "2025-01":
                        type: object
                        properties:
                          total_amount:
                            type: integer
                            example: 30000
                          orders:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  example: 1234567890
                                date_created:
                                  type: string
                                  example: "2025-01-02T15:23:40.000-04:00"
                                total_amount:
                                  type: integer
                                  example: 15000
                                status:
                                  type: string
                                  example: paid
                                sold_products:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      order_id:
                                        type: integer
                                        example: 1234567890
                                      order_date:
                                        type: string
                                        example: "2025-01-02T15:23:40.000-04:00"
                                      title:
                                        type: string
                                        example: Producto A
                                      quantity:
                                        type: integer
                                        example: 1
                                      price:
                                        type: integer
                                        example: 15000
  /mercadolibre/annual-sales/{client_id}:
    get:
      tags:
        - Reports
      summary: Get annual sales
      description: Retrieves annual sales data for a specific client.
      parameters:
        - name: client_id
          in: path
          required: true
          description: ID of the client
          schema:
            type: string
        - name: year
          in: query
          required: false
          description: The year for which to retrieve sales data (e.g., `2025`)
          schema:
            type: string
      responses:
        '200':
          description: Ventas anuales obtenidas con éxito.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Ventas anuales obtenidas con éxito.
                  data:
                    type: object
                    properties:
                      "2025-01":
                        type: object
                        properties:
                          total_amount:
                            type: integer
                            example: 10780
                          orders:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  example: 1234567890
                                date_created:
                                  type: string
                                  example: "2025-01-02T15:23:40.000-04:00"
                                total_amount:
                                  type: integer
                                  example: 10780
                                status:
                                  type: string
                                  example: paid
                                sold_products:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      order_id:
                                        type: integer
                                        example: 1234567890
                                      order_date:
                                        type: string
                                        example: "2025-01-02T15:23:40.000-04:00"
                                      title:
                                        type: string
                                        example: Producto Ejemplo
                                      quantity:
                                        type: integer
                                        example: 2
                                      price:
                                        type: integer
                                        example: 5390
  /mercadolibre/weeks-of-month:
    get:
      tags:
        - Reports
      summary: Get weeks of the month
      description: Retrieves the weeks of a specific month.
      parameters:
        - name: year
          in: query
          required: false
          description: The year for which to retrieve weeks (e.g., `2025`)
          schema:
            type: string
        - name: month
          in: query
          required: false
          description: The month for which to retrieve weeks (e.g., `01`)
          schema:
            type: string
      responses:
        '200':
          description: Semanas obtenidas con éxito.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Semanas obtenidas con éxito.
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        start_date:
                          type: string
                          example: "2025-01-01"
                        end_date:
                          type: string
                          example: "2025-01-05"
  /mercadolibre/sales-by-week/{client_id}:
    get:
      tags:
        - Reports
      summary: Get sales by week
      description: Retrieves sales data for a specific week and client.
      parameters:
        - name: client_id
          in: path
          required: true
          description: ID of the client
          schema:
            type: string
        - name: year
          in: query
          required: false
          description: The year for which to retrieve sales data (e.g., `2025`)
          schema:
            type: string
        - name: month
          in: query
          required: false
          description: The month for which to retrieve sales data (e.g., `01`)
          schema:
            type: string
        - name: week_start_date
          in: query
          required: true
          description: The start date of the week (e.g., `2025-01-01`)
          schema:
            type: string
        - name: week_end_date
          in: query
          required: true
          description: The end date of the week (e.g., `2025-01-07`)
          schema:
            type: string
      responses:
        '200':
          description: Ingresos y productos obtenidos con éxito.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Ingresos y productos obtenidos con éxito.
                  data:
                    type: object
                    properties:
                      week_start_date:
                        type: string
                        example: "2025-01-01"
                      week_end_date:
                        type: string
                        example: "2025-01-07"
                      total_sales:
                        type: integer
                        example: 50000
                      sold_products:
                        type: array
                        items:
                          type: object
                          properties:
                            title:
                              type: string
                              example: Producto Imaginario A
                            quantity:
                              type: integer
                              example: 3
                            total_amount:
                              type: integer
                              example: 15000
  /mercadolibre/daily-sales/{client_id}:
    get:
      tags:
        - Reports
      summary: Get daily sales
      description: Retrieves daily sales data for a specific client.
      parameters:
        - name: client_id
          in: path
          required: true
          description: ID of the client
          schema:
            type: string
      responses:
        '200':
          description: Ventas diarias obtenidas con éxito.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Ventas diarias obtenidas con éxito.
                  data:
                    type: object
                    properties:
                      date:
                        type: string
                        example: "2025-01-24"
                      total_sales:
                        type: integer
                        example: 0
                      sold_products:
                        type: array
                        items:
                          type: object
                          properties:
                            title:
                              type: string
                              example: Producto Imaginario A
                            quantity:
                              type: integer
                              example: 3
                            total_amount:
                              type: integer
                              example: 15000
  /mercadolibre/top-selling-products/{client_id}:
    get:
      tags:
        - Reports
      summary: Get top selling products
      description: Retrieves the top selling products for a specific client.
      parameters:
        - name: client_id
          in: path
          required: true
          description: ID of the client
          schema:
            type: string
        - name: year
          in: query
          required: false
          description: The year for which to retrieve sales data (e.g., `2025`)
          schema:
            type: string
        - name: month
          in: query
          required: false
          description: The month for which to retrieve sales data (e.g., `01`)
          schema:
            type: string
      responses:
        '200':
          description: Productos más vendidos obtenidos con éxito.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Productos más vendidos obtenidos con éxito.
                  total_sales:
                    type: integer
                    example: 90390
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                          example: Producto Imaginario X
                        quantity:
                          type: integer
                          example: 4
                        total_amount:
                          type: integer
                          example: 21560
  /mercadolibre/order-statuses/{client_id}:
    get:
      tags:
        - Reports
      summary: Get order statuses
      description: Retrieves the order statuses for a specific client.
      parameters:
        - name: client_id
          in: path
          required: true
          description: ID of the client
          schema:
            type: string
        - name: year
          in: query
          required: false
          description: The year for which to retrieve order statuses (e.g., `2025`)
          schema:
            type: string
        - name: month
          in: query
          required: false
          description: The month for which to retrieve order statuses (e.g., `01`)
          schema:
            type: string
      responses:
        '200':
          description: Estados de órdenes y productos relacionados obtenidos con éxito.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Estados de órdenes y productos relacionados obtenidos con éxito.
                  data:
                    type: object
                    properties:
                      statuses:
                        type: object
                        properties:
                          paid:
                            type: integer
                            example: 9
                          pending:
                            type: integer
                            example: 0
                          canceled:
                            type: integer
                            example: 0
                      products:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: MLC1234567890
                            title:
                              type: string
                              example: Producto Ejemplo A
                            category_id:
                              type: string
                              example: MLC1234
                            variation_id:
                              type: integer
                              example: 123456789012
                            seller_custom_field:
                              type: string
                              example: null
                            global_price:
                              type: string
                              example: null
                            net_weight:
                              type: string
                              example: null
                            variation_attributes:
                              type: array
                              items:
                                type: object
                                properties:
                                  name:
                                    type: string
                                    example: Color
                                  id:
                                    type: string
                                    example: COLOR
                                  value_id:
                                    type: string
                                    example: 12345
                                  value_name:
                                    type: string
                                    example: Rojo
                            warranty:
                              type: string
                              example: Garantía del vendedor - 6 meses
                            condition:
                              type: string
                              example: new
                            seller_sku:
                              type: string
                              example: A-123-ROJ-M
  /mercadolibre/top-payment-methods/{client_id}:
    get:
      tags:
        - Reports
      summary: Get top payment methods
      description: Retrieves the top payment methods for a specific client.
      parameters:
        - name: client_id
          in: path
          required: true
          description: ID of the client
          schema:
            type: string
        - name: year
          in: query
          required: false
          description: The year for which to retrieve payment methods data (e.g., `2025`)
          schema:
            type: string
        - name: month
          in: query
          required: false
          description: The month for which to retrieve payment methods data (e.g., `01`)
          schema:
            type: string
      responses:
        '200':
          description: Métodos de pago más utilizados obtenidos con éxito.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Métodos de pago más utilizados obtenidos con éxito.
                  request_date:
                    type: string
                    example: "2025-01-27 19:06:15"
                  data:
                    type: object
                    properties:
                      account_money:
                        type: integer
                        example: 39
                      debit_card:
                        type: integer
                        example: 12
                      credit_card:
                        type: integer
                        example: 2
  /mercadolibre/summary/{client_id}:
    get:
      tags:
        - Reports
      summary: Get store summary
      description: Retrieves a summary of the store for a specific client.
      parameters:
        - name: client_id
          in: path
          required: true
          description: ID of the client
          schema:
            type: string
      responses:
        '200':
          description: Resumen de la tienda obtenido con éxito.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Resumen de la tienda obtenido con éxito.
                  data:
                    type: object
                    properties:
                      total_sales:
                        type: integer
                        example: 638056
                      top_selling_products:
                        type: array
                        items:
                          type: object
                          properties:
                            title:
                              type: string
                              example: Camiseta Mujer Jockey Shapewear K-435 Seamless Control
                            quantity:
                              type: integer
                              example: 7
                            total_amount:
                              type: integer
                              example: 88361
                      order_statuses:
                        type: object
                        properties:
                          paid:
                            type: integer
                            example: 36
                          pending:
                            type: integer
                            example: 0
                          canceled:
                            type: integer
                            example: 0
                      daily_sales:
                        type: integer
                        example: 0
                      weekly_sales:
                        type: integer
                        example: 0
                      monthly_sales:
                        type: integer
                        example: 90390
                      annual_sales:
                        type: integer
                        example: 90390
                      top_payment_methods:
                        type: object
                        properties:
                          account_money:
                            type: integer
                            example: 39
                          debit_card:
                            type: integer
                            example: 12
                          credit_card:
                            type: integer
                            example: 2
  /mercadolibre/refunds-by-category/{client_id}:
    get:
      tags:
        - Reports
      summary: Get refunds or returns by category
      description: Retrieves refunds or returns data by category for a specific client.
      parameters:
        - name: client_id
          in: path
          required: true
          description: ID of the client
          schema:
            type: string
        - name: date_from
          in: query
          required: false
          description: The start date for the date range (e.g., `2023-01-01`)
          schema:
            type: string
        - name: date_to
          in: query
          required: false
          description: The end date for the date range (e.g., `2023-01-31`)
          schema:
            type: string
        - name: category
          in: query
          required: false
          description: The category ID to filter by (e.g., `MLC12345`)
          schema:
            type: string
      responses:
        '200':
          description: Refunds by category retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Refunds by category retrieved successfully.
                  data:
                    type: object
                    properties:
                      MLC12345:
                        type: object
                        properties:
                          category_id:
                            type: string
                            example: MLC12345
                          total_refunds:
                            type: integer
                            example: 50000
                          orders:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: integer
                                  example: 1234567890
                                created_date:
                                  type: string
                                  example: "2023-01-02T15:23:40.000-04:00"
                                total_amount:
                                  type: integer
                                  example: 15000
                                status:
                                  type: string
                                  example: cancelled
                                product:
                                  type: object
                                  properties:
                                    title:
                                      type: string
                                      example: Producto A
                                    quantity:
                                      type: integer
                                      example: 1
                                    price:
                                      type: integer
                                      example: 15000
                                buyer:
                                  type: object
                                  properties:
                                    id:
                                      type: integer
                                      example: 12345
                                    name:
                                      type: string
                                      example: comprador_ejemplo
                                billing:
                                  type: object
                                  properties:
                                    first_name:
                                      type: string
                                      example: Juan
                                    last_name:
                                      type: string
                                      example: Pérez
                                    identification:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                          example: RUT
                                        number:
                                          type: string
                                          example: 12345678
                                shipping:
                                  type: object
                                  properties:
                                    shipping_id:
                                      type: string
                                      example: SHIP12345
                                    shipping_method:
                                      type: string
                                      example: Envío estándar
                                    tracking_number:
                                      type: string
                                      example: ABC123XYZ
                                    shipping_status:
                                      type: string
                                      example: delivered
                                    shipping_address:
                                      type: object
                                      properties:
                                        address:
                                          type: string
                                          example: Calle Falsa
                                        number:
                                          type: string
                                          example: 123
                                        city:
                                          type: string
                                          example: Ciudad Falsa
                                        state:
                                          type: string
                                          example: Falso
                                        country:
                                          type: string
                                          example: Ciudad Falsa
                                        comments:
                                          type: string
                                          example: Dejar en la puerta

  /login:
    post:
      tags:
        - Login
      summary: User login
      description: Authenticates a user and returns a token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: user@example.com
                password:
                  type: string
                  example: yourpassword
      responses:
        '200':
          description: Successful login
        '401':
          description: Invalid password
        '404':
          description: User not found

  
  /users:
      post:
        tags:
          - Users and Clients
        summary: Create a new user
        description: Registers a new user in the system
        requestBody:
          required: true
          content:
            application/json:
              schema:
                type: object
                properties:
                  nombre:
                    type: string
                    example: Agustín
                  apellidos:
                    type: string
                    example: Martínez
                  telefono:
                    type: string
                    example: "+56999999999"
                  email:
                    type: string
                    example: thisismyemail@email.com
                  password:
                    type: string
                    example: agoodpasswordidontknow
                  password_confirmation:
                    type: string
                    example: agoodpasswordidontknow
        responses:
          '201':
            description: User successfully created
          '422':
            description: Unprocessable Entity (one or more fields missing, password does not match, etc)
  /users/{id}:
    delete:
      tags:
        - Users and Clients
      summary: Delete a user
      description: Deletes a user from the system using their ID.
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the user to be deleted
          schema:
            type: integer
      responses:
        '200':
          description: User successfully deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "User deleted successfully"
        '404':
          description: User not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "User not found"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Unauthorized"


  /clientes:
    get:
      tags:
        - Users and Clients
      summary: Get all clients
      responses:
        '200':
          description: List of clients
    post:
      tags:
        - Users and Clients
      summary: Create a client
      responses:
        '201':
          description: Client successfully created
  /clientes/{id}:
    get:
      tags:
        - Users and Clients
      summary: Get a client by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Client found
        '404':
          description: Client not found
    patch:
      tags:
          - Users and Clients
      summary: Update a client
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Client successfully updated
    delete:
      tags:
        - Users and Clients
      summary: Delete a client
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Client successfully deleted

          
  /api/MercadoLibre/connections/test-connection/{client_id}:
    get:
      tags:
        - Connection
      summary: Test MercadoLibre Connection
      description: Tests the MercadoLibre API connection for a given client ID.
      parameters:
        - name: client_id
          in: path
          required: true
          description: The ID of the client whose connection is being tested.
          schema:
            type: string
      responses:
        "200":
          description: Connection successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Conexión exitosa con MercadoLibre.
        "404":
          description: Credentials not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: No se encontraron credenciales para el cliente proporcionado.
        "500":
          description: Internal server error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Error al probar la conexión con MercadoLibre.
                  error:
                    type: object
                    example: {}
